#profileContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#infoFieldsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
}

#leftFields {
  flex-wrap: wrap;

}

#rightFields {
  text-align: right;
  position: absolute;
  right: 0;
  flex-wrap: wrap;
}





.clickableButton {
  margin: 5px;
  background-color: rgb(195, 212, 227);
  border-radius: 10px;
  padding: 5px;
  border: rgb(138, 158, 176) 2px solid;
}

#backButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pButton {
  font-size: larger;
  margin: 5px;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  border: rgb(138, 158, 176) 2px solid;
  display: block;
}

.clickableButton:hover {
  background-color: transparent;
  cursor: pointer;
}

#passwordField {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 50%;
  border: rgb(138, 158, 176) 1px solid;
}

label {
  margin: 5px;
}