.quizList{

text-align: justify;
overflow-y: auto;    
overflow-x: hidden;


}


.fas fa-user-alt{

font-size: 36px;


}

.quizBox{

  position: relative;
  max-height: 10em;
  overflow-y: auto;

}
.selected {
  background: lightgreen;
}

i:hover {

cursor: pointer;
background-color:  rgb(195, 212, 227);
border-radius: 10px;

}



