<section class="profileSection">
    <div id="profileContainer">
        <h2 id="profileHeader">My Profile</h2>
    </div>
    <div id="infoFieldsContainer">
        <div id="leftFields">
            <label>Email</label>
            <button class="pButton" id="emailField">email</button>
            <label>username</label>
            <button class="pButton" id="userField">username</button>
        </div>
        <div id="rightFields">
            <label>New Password:</label>
            <input type="password" id="passwordField"></input>
            <button class="clickableButton" id="changePasswordButton">change password</button>
        </div>
        <button class="clickableButton" id="backButton" onclick="location.href='/'">Back</button>
    </div>
</section>