<section class="questionSection">
  <div id="questionContainer">
    <h2>This is a question.</h2>
  </div>
  <div id="answersContainer">
    <div id="leftAnswers">
      <button class="qButton" id="topLeftAnswer">Answer 1</button>
      <button class="qButton" id="bottomLeftAnswer">Answer 3</button>
    </div>
    <div id="rightAnswers">
      <button class="qButton" id="topRightAnswer">Answer 2</button>
      <button class="qButton" id="bottomRightAnswer">Answer 4</button>
    </div>
  </div>
</section>