<section>
    <h1>Quiz Menu </h1>
    <article class="article">
        <i style='font-size:24px' class='fas'>&#xf406;</i>
        <div class="quizList">
            <label for="Quiz">Choose a quiz:</label>
            <div id="quizSelect">
                <select name="Category">
                    <option value="All">All</option>
                    <option value="Sport">Sport</option>
                </select>
            </div>
            <div class="quizBox">

            </div>


        </div>
        <button id="highscoreButton" class="submitBtn">Highscore</button>
        <button id="downloadButton" class="submitBtn">Download</button>
        <button id="startButton" class="submitBtn">Start!</button>
    </article>
</section>
